﻿@model YummyProject.Models.ContactInfo


@{
    ViewBag.Title = "UpdateContactInfo";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">

    @Html.HiddenFor(x => x.ContactInfoId)
    <label>Adres</label>
    @Html.TextAreaFor(x => x.Address, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Address)</div>
    <br />
    <label>Email</label>
    @Html.TextAreaFor(x => x.Email, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Email)</div>
    <br />
    <label>Telefon Numarası</label>
    @Html.TextAreaFor(x => x.PhoneNumber, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.PhoneNumber)</div>
    <br />
    <label>Harita Url</label>
    @Html.TextAreaFor(x => x.MapUrl, 1, 4, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.MapUrl)</div>
    <br />
    <label>Açılış Saati</label>
    @Html.TextAreaFor(x => x.OpenHours, 1, 4, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.OpenHours)</div>
    <br />

    <div class="text-danger">@ViewBag.error</div>
    <button class="btn btn-primary">Kaydet</button>

</form>

