@model YummyProject.Models.Event
@{
    ViewBag.Title = "AddEvent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Etkinlik Ekleme Sayfası</h2>

<form method="post">

    <label>Resim Url</label>
    @Html.TextAreaFor(x => x.ImageUrl, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.ImageUrl)</div>
    <br />
    <label>Başlık</label>
    @Html.TextAreaFor(x => x.Title, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Title)</div>
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 1, 4, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Description)</div>
    <br />
    <label>Fiyat</label>
    @Html.TextAreaFor(x => x.Price, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Price)</div>
    <br />
    <div class="text-danger">@ViewBag.error</div>
    <button class="btn btn-primary">Kaydet</button>

</form>

